:root {
--main-color: #2e2f42;
--accent-color: #4d5ae5;
--secondary-color: #434455;
--another-color: #8e8f99;
--new-color: #F4F4FD;
}

p, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--secondary-color); 
}
.container { 
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}

.section-subtitle {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.section-text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}    
.section-title span {
    color: var(--accent-color);
 }   
 
.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 img {
    display: block;
    max-width: 100%;
    height: auto;
 }
    
/*------------HEADER-----------*/

header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
    color: var(--accent-color);
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        padding: 24px 0;
     
}
.header-logo-accent {
    color: var(--main-color);
}
.header-container {
    display: flex;
    align-items: center;  
    
    }
.header-menu {
   display: flex;
   gap: 40px;
   color: #404bbf;
   transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
 .header-navigation {
    display: flex;
    align-items: center; 
 }

.header-address {
    display: flex;
    gap: 40px;
}

.header-menu-link:hover,
.header-menu-link:focus {
   color: #404bbf;
}

.header-menu-link {
    color: var(--main-color);
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
}

.header-address-list {
    font-style: normal;
    color: var(--secondary-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: auto;
}
.header-line {
    position: relative;
    color: #404bbf; 
    
    }
.header-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.header-adress-link {
    color: var(--secondary-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.header-adress-link:hover,
.header-adress-link:focus {
    color: #404bbf; 
}
     
/*------------HERO-----------*/
.hero {
    margin: 0 auto;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
}

.hero-title {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        font-style: normal;
        display: block;
            margin: 0 auto;
            max-width: 496px;
            
}

.hero-btn {
    color:  #FFF;
         font-size: 16px;
        font-family: inherit;
         font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--accent-color);
        cursor: pointer;
        padding: 16px 32px;
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        min-width: 169px;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover,
.hero-btn:focus { 
background-color: #404bbf;
border: none; 
}

/*-----------FEATURES----------*/

.featurs { 
  padding-top: 120px;
  padding-bottom: 120px;
}
.featurs-icons {
height: 112px;
border-radius: 4px;
background: var(--new-color);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}

.featurs-list {
    display: flex;
    gap: 24px;
    }

.featurs-subtitle {
    width: calc((100% - 24px*3) / 4);
}


.featurs-item {
    margin-bottom: 8px; 
  }

 
/*------------DOING-----------*/

.doing {
    padding-top: 0;
    padding-bottom: 120px;
    
}
.doing-list {
    display: flex;
    gap: 24px;
}
.doing-item{
    width: calc((100% - 48px) / 3)
}
.doing-title {
    color: var(--main-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;
}

/*------------TEAM-----------*/

.team {background: var(--new-color);
padding: 120px 0;
}

.team-icons-list {
    width: 40px;
    height: 40px;
}
.team-item-icons {
    fill: var(--new-color);
}

.team-list { 
    display: flex;
    gap: 24px;
    justify-content: center;
}
 
.team-list-m {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-title {
    color: var(--main-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-item { 
        background: #FFF;
        width: calc((100% - 24px*3) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   }
.team-member {
     text-align: center;
     margin-bottom: 8px;
}
.team-profetional {
        color: #2E2F42;
        text-align: center;
         margin-bottom: 8px;
            }
.team-container {
    padding: 32px 0; 
}

.taem-icons-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    } 

.taem-icons-link:hover,
.taem-icons-link:focus {
    background-color: #404bbf;
}

/*-----------CASTOMERS-----------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: var(--main-color);
    margin-bottom: 72px;
    }
 
.customers-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    }

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-icon{
    fill: currentColor;
}
.customers-icon-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: var(--another-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
.customers-icon-link:focus {
    color: #404BBF;
    border-color: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

/*------------FOOTER-----------*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    position: relative;
            }
     
.footer-div {
    display: flex;
    align-items: baseline;
} 
 .footer-container {
    margin-right: 120px;
    width: 264px;
    
        }  

.footer-logo-link {
    color: var(--accent-color);
        font-size: 18px;
        font-family:"Raleway", sans-serif; 
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text-one {
    color: #f4f4fd;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        
            }
                       
     .footer-list {
        display: flex;
        gap: 16px;
                    }

    .footer-item {
        width: 40px;
        height: 40px;
    }

    .footer-icon {
     fill: #F4F4FD;
         }

  .footer-text-two, .footer-subscribe {
    color: #FFF;
    font-size: 16px;
        font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: center;
    margin-bottom: 16px;
    color: #FFFFFF;
            } 

  .footer-social {
    display: flex;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social:hover,
.footer-social:focus {
    background-color: #31d0aa;
    }


.footer-input {
border-radius: 4px;
border: 1px solid  #FFF;
width: 264px;
height: 40px;
background-color: transparent;
padding-left: 16px;
color: #FFF;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
margin-right: 24px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
.footer-input::placeholder {
    color: #ffffff;
  }    

.footer-form-btn {
min-width: 165px;    
color: #FFF;
padding: 8px 24px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
background: var(--accent-color);
gap: 16px;
border: none;
display: inline-flex;
justify-content: center;
align-items: center;
text-align: center;
cursor: pointer;
    }
.footer-form-btn:hover,
.footer-form-btn:focus {
background: #404BBF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    } 
       
.subscribe-icon {
fill: #FFFFFF;
margin-left: 16px;
}
     

/*------------PORTFOLIO-----------*/

/*------------HEADER-----------*/
.header-line {
    position: relative;
}
.header-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    /*------------BATTON-----------*/

section {
    padding-top: 96px; 
    padding-bottom: 120px;
}
.button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-btn {
    font-family: inherit;
    color: var(--accent-color);
    background-color: #F4F4FD;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
       } 

.button-btn:hover,
.button-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

img {
    display: block;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
    row-gap: 48px;
   }
.service-item {
    width: calc((100% - 48px) / 3);
}
.service-name {
    padding: 32px 16px;

}
.service-link {
    text-decoration: none;
    display: block;
    width: 100%;
height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-link:hover,
.service-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 

}

.service-cover {
    position: relative;
    overflow: hidden;
    }


  .service-link:hover .service-cover-text,
  .service-link:focus .service-cover-text {
      transform: translateY(0%);

   }
       
.service-cover-text {
background: var(--accent-color);
align-items: center;
justify-content: center;
position: absolute;
overflow: auto;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--new-color);
padding: 40px 32px;
background-color: #4d5ae5;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
     }

.service-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
            margin-bottom: 8px;
                    }
                    
.service-text {
        }

.footer {
            color: var(--secondary-color);
                     }
                  

/*------------MODAL-----------*/
.backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.backdrop.backdrop-is-open {
    opacity: 1;
    visibility: visible;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  
.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #2e2f42;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    
}
.modal-button:hover .modal-icon {
    fill: #ffffff;
  }
.modal-button:focus .modal-icon {
    fill: #ffffff;
  }
.modal-icon {
    fill: #2e2f42;
    transition-property: fill;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-icon:hover {
    fill: #ffffff;
}
.modal-title {
color:  #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
text-align: center;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.modal-input:focus {
    border-color: #4D5AE5;
}
.input-lable {
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
display: block;
}
.modal-feild {
margin-bottom: 8px;
}
.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}

.input-wrap {
    position: relative;
    margin-bottom: 24px; 
 }
 .modal-feild-textarea {
    margin-bottom: 16px;
}         
.modal-textarea {
    width: 100%;
    /*width: 360px;*/
    height: 120px;
    border-radius: 4px;
    padding: 8px 16px;
border: 1px solid rgba(46, 47, 66, 0.40); 
resize: none;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent; 
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}
.modal-check { 
    fill: none;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-check:focus {
    border-color: #4d5ae5;
  }
.modal-field-wraper {
    margin-bottom: 24px;
}
.modal-check:focus + .chek-text  
 {
font-size: 12px;
letter-spacing: 0.04em;
display: block;
margin-top: 16px;
line-height: 1.17;
color: #8e8f99;
}
.privace-link {
    color: var(--accent-color);
    border-radius: 2px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

.chek-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.chek-text-span {
    background-color: #ffffff;
    cursor: pointer;
    align-items: center;  
    justify-content: center;
    width: 16px;
    height: 16px;
    stroke-width: 1px;
stroke: rgba(46, 47, 66, 0.40);
margin-right: 8px;
fill: transparent;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
}

.modal-check:checked + .chek-text .chek-text-span {
border: none;
fill: #F4F4FD;
background-color:#404bbf;
}
.modal-check:focus + .chek-text .chek-text-span {
    outline: 2px solid rgba(46, 47, 66, 0.4);
}
.form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    align-self: center;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    width: 105px;
     }

.form-button:focus,
.form-button:hover {
       background: #404bbf;
       fill: #ffffff;
}

